.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

__pycache__/
perception/darknet/*.weights
perception/bg_images/
perception/images/
perception/ds_sprites/
perception/generated_images/
perception/predictions/
perception/processed_bg_images/
perception/test_results/
perception/text_logs/
perception/yolo_test_results/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

test.py
*.pkl
*.png