.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/*.code-snippets

__pycache__/
perception/darknet/*.weights
perception/images/
perception/predictions/
perception/test_results/
perception/text_logs/

# Local History for Visual Studio Code
.history/

# Built Visual Studio Code Extensions
*.vsix

test.py
*.pkl